.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: 130px;
    background-color: rgb(255, 255, 255);
    border-radius: 14px;
    padding: 0 15px;
    margin: 0.5rem 0px;
}



.box_colum span {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 10px 0px;
    font-size: 10px;
}



.box_colum{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 10px;
}

.status_pedido{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(18, 157, 92);
    background-color: transparent;

}


.i{
    background-color: transparent;
    
}

.status_pedido {
    display: flex; /* Torna os elementos filhos em um flex container */
    align-items: center; /* Alinha os elementos filhos verticalmente */
}

.status_pedido span {
    margin-right: 5px; /* Adiciona um espaço entre o texto e o ícone */
}

  /* Estilos do ícone - você pode ajustar conforme necessário */
.icon {
    width: 5px;
    height: 35px;
}

.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
}



.i_aberto{
    color:rgb(18, 157, 92);
    background-color: transparent;
}
.i_processando{
    color:rgb(245, 231, 38);
    background-color: transparent;
    font-size: 10px;
}
.i_fechado{
    color:rgb(206, 63, 7);
    background-color: transparent;
}

.f_color_aberto{
    color:rgb(18, 157, 92);
}
.f_color_processando{
    color:rgb(245, 231, 38);
}
.f_color_fechado{
    color:rgb(206, 63, 7);
}