.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.container .grid_x6_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
    
}

.container .grid_x6_left .row_button_final{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    width: 75%;
    height: 10%;
    border-radius: 22px;
    border: #07474e2d solid 1px;
}
.container .grid_x6_left form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #07474e2d solid 1px;
    justify-content: center;
    background-color: transparent;
    width: 75%;
    height: 70%;
    margin: 40px 0 ;
    border-radius: 22px;
}

.container .grid_x6_left form input{
    background-color: #07474e11;
    height: 7%;
    width: 75%;
    border-radius: 22px;
    border: solid 1px #07474e2d;
    padding-left: 20px;
    margin: 10px 0;
    color: aliceblue;
    
    
}
.container .grid_x6_left form  textarea{
    background-color:#07474e11;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 22px;
    border: none;
    height: 50%;
    width: 75%;
    color: #425557;
    font-size: 15px;
    resize: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container .grid_x6_left .box_status_prom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    width: 75%;
    height: 10%;
    padding-left: 20px;
    border-radius: 22px;
    border: #07474e2d solid 1px;
}



.box_status_prom input[type="checkbox"]{
    margin: 0 25px;
    width: 20px; /* Ajuste o tamanho horizontal */
    height: 20px; /* Ajuste o tamanho vertical */
}


.container .grid_x6_left .box_status_prom span{
    background-color: transparent;
}

.container .grid_x6_left form  textarea::placeholder{
    color: #425557;
}

.container .grid_x6_left form  textarea::-webkit-scrollbar{
    width: 1em;
    
}
.container .grid_x6_left form  textarea::-webkit-scrollbar-thumb{
    background-color:rgb(142, 156, 157);
    border-radius: 22px;
    
}
.container .grid_x6_left form  textarea::-webkit-scrollbar-track{
    background: transparent;
    
}

.container .grid_x6_left .box_img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.container .grid_x6_left .box_img .img_prod{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
}

.container .grid_x6_left .box_img .img_prod img{
    height: 90%;
    background-size: cover;
    object-fit: contain;
    border-radius: 22px;
}
.container .grid_x6_left .box_img .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 30%;
}

.container .grid_x6_left .box_img .box_img_preview{
    
    width: 20%;
    height: 90%;
}
.container .grid_x6_left .box_img .row .box_img_preview div{
    max-width: 20%;
    max-height: 100px;
}
.container .grid_x6_left .box_img .row button{
    border: none;
}
.container .grid_x6_left .box_img .box_img_preview img{
    background-size: cover;
    object-fit: contain;
    width: 65%;
    border-radius: 22px;
    height: 100%;
    
    
}

.container .grid_x6_left .d_prod{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container .grid_x6_left .d_prod .content{
    width: 90%;
    height: 90%;
    border: 1px solid rgba(63, 63, 63, 0.192);
    padding: 10px;
    background-color: transparent;
    border-radius: 22px !important;
}

.container .grid_x6_left .d_prod h3{
    width: 100%;
    text-align: center;
    background-color: transparent;
    padding-top: 100px;
    padding-bottom: 50px;
}
.container .grid_x6_left .d_prod p{
    font-size: 1vw;
    padding: 15px  50px;
    background-color: transparent;
    
}


.container .grid_x6_rigth{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
}

.container .grid_x6_rigth .box_add_image{
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

}

.container .grid_x6_rigth .box_add_image .row_buttons{
    display: flex;
    width: 100%;
    
    justify-content: space-around;
}
.container .grid_x6_rigth .box_add_image .input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    padding: 10px;

    
}

.container .grid_x6_rigth .box_add_image .input {
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    width: 50%;
    height: 30vh !important;
}

.container .grid_x6_rigth .box_add_image .input .arq{
    background-color: #07474e28;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    border-radius: 22px;
    border: 1px solid #07474e;
    padding: 10px;
}

.container .grid_x6_rigth .box_add_image .input span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    background-color: transparent;
    padding: 10px;
}






.container .grid_x6_rigth .box_add_image .input input{
    background-color:transparent;
    width: 100%;
    height: 100%;
}

.container .grid_x6_rigth .box_tamanhos{
    display: flex;

    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 22px;
    border: #07474e15 solid 1px;
    background-color: transparent;
    width: 75%;
    height: 25%;
    padding-top: 25px;
}
.container .grid_x6_rigth .box_tamanhos div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffffc0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 22px;
    border: #07474e solid 1px;
    width: 10%;
    height: 20%;
    margin: 0 10px;
}

.container .grid_x6_rigth .box_tamanhos div{
    background-color: #2e565a46;
    color: #0423274d;
    border: none;

}

.container .grid_x6_rigth .box_tamanhos div{
    background-color: #2e565a46;
    color: #0423274d;
    text-decoration: line-through #07474e57 ;
    
    
}
.container .grid_x6_rigth .title_size{
    display: flex;
    align-items: center;
    width: 75%;
    height: 10%;
    text-align: end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    color: #07474e;
}

.row_images{
    
    display: flex;
    flex-direction: row;
    padding: 18px 0;
    width: 75%;
    height: 20%;
    margin: 40px 0;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    }

.row_images::-webkit-scrollbar {
    width: 0.5em; /* Largura da barra de rolagem */
}

.row_images::-webkit-scrollbar-thumb {
    background-color: #27414485; /* Cor do polegar da barra de rolagem */
    border-radius: 0.5em;
}
    
.row_images::-webkit-scrollbar-track {
    background: transparent; /* Cor da trilha da barra de rolagem */
}

    
.row_images button{
    background-color: aqua;
    width: 35%;
}
.row_images img{
    margin: 0 10px;
    width: 90%;
    height: 90%;
    border-radius: 22px;
}

.row_buttons_add_remo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 75%;
    margin-top: 40px;
    padding: 0 20px;
    border-radius: 22px;
    border: 1px solid #07474e;
    background-color: #07474e0e;
}
.row_buttons_add_remo  div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 10vh;
    background-color: transparent;
    
    
}
.row_buttons_add_remo input{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding-left: 10px;
    background-color: #5355550e;
    width: 20%;
    height: 60%;
    border: solid 1px #07474e44;
}

