.form {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    background-color: #fff;
    color: rgb(97 97 97);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
    width: 22rem;
    height: 32rem;
    background-clip: border-box;
  }
  
  .header {
    position: relative;
    background-clip: border-box;
    background-color: #159850;
    background-image: linear-gradient(to top right,#159850,#2bd779);
    margin: 10px;
    border-radius: 0.75rem;
    overflow: hidden;
    color: #fff;
    box-shadow: 0 0 #0000,0 0 #0000,0 0 #0000,0 0 #0000,rgba(33, 243, 152, 0.4);
    height: 7rem;
    letter-spacing: 0;
    line-height: 1.375;
    font-weight: 600;
    font-size: 1.9rem;
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inputs {
    padding: 1.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    background-color: #fff;
  }
  
  
  
  .input {
    border: 1px solid rgba(128, 128, 128, 0.61);
    outline: 0;
    color: rgb(69 90 100);
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.25rem;
    padding: 0.75rem;
    background-color: transparent;
    border-radius: .375rem;
    width: 100%;
    height: 100%;
  }
  
  .input:focus {
    border: 1px solid #1e88e5;
  }
  
  .sigin_btn {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    padding: .75rem 1.5rem;
    background-color: #159850;
    background-image: linear-gradient(to top right,#159850,#4fe693);
    border-radius: .5rem;
    width: 100%;
    margin-top: 50px;
    outline: 0;
    border: 0;
    color: #fff;
    text-decoration: none;
    
  }
  
  .signup_link {
    line-height: 1.5;
    font-weight: 300;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }
  
  .signup-link a, .forget {
    line-height: 1.5;
    font-weight: 700;
    font-size: .875rem;
    margin-left: .25rem;
    color: #159850;
    background-color: #fff;
  }
  
  .forget {
    text-align: right;
    font-weight: 600;
    
  }


  




