
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-bottom: -3.5px ;
  background-color: var(--backgroundColorPrimary);
}
:root {
  --backgroundColorPrimary: #FFFFFF;
  --backgroundColorSecondary: #F0F0F0;
  --corComplementarPrimaria: #169955;
  --corComplementarSecundaria: #010101;
  --corDeNotificacao: #D34138;
}






