/* Estilos para o menu lateral */
.menu_lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #07474e;
    min-width: 100px;
    min-height: 100px;
    max-height: 80vh;
    padding: 15px 0;
    border-radius: 0px 15px 15px 0px;
  }
  
  /* Estilos para o contêiner dos botões no menu lateral */
.menu_lateral_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #07474e;
}

  /* Estilos para os botões */
.box_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #256067;
    color: aliceblue;
    width: 100vh;
    height: 4rem;
    margin: 1px 0;
    border-radius: 15px 5px 15px 5px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

  /* Estilos para os botões sem cor de fundo */
.buttons {
    background-color: transparent;
  }
  
  /* Estilos para o ícone "sair" */
  .box_icon_sair {
    position: relative;
    display: flex;
    align-items: baseline;
    font-size: 55px;
    background-color: #07474e;
    color: white;
    border: none;
  }
  
  /* Estilos para o contêiner do botão "sair" */
  .box_buttons_sair {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 55px;
    border-radius: 15px 5px 15px 5px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }
  
  /* Estilos para remover a borda do botão "sair" */
  .box_buttons_sair button {
    border: none;
  }
  
  /* Estilos para o contêiner principal */
  .container {
    display: flex;
    min-width: 35%;
    min-height: 90vh;
  }
  