.nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 50px;
}
.nav_item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    border-radius: 20px;
    background-color:#07474e;
    color: aliceblue;
    margin: 0 10PX;
    text-decoration: none;
    transition: transform 0.4s;
    border: none;
    
}

.nav_item:hover{
    transform: scale(1.08);
}

.container_prod_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}

.grid_product{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    max-height: 750px;

    overflow: auto;
    width: 75%;
    height: 50%;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 90%;
    height: 55px;
    
    padding-left: 45px;
    font-family: "Commons";
    color: #07474e;
    border: #07474e2c 1px solid;
    border-radius: 14px;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 25px;
    
}



.title button{
  display: flex;
  align-items: center;
  background-color: #B30262;
  color: aliceblue;
  
  font-size: 14px;
  padding: 14px;
  border-radius: 22px;
  border: none;
  margin: 0px;
  height: 15px;
  
  
  
}



.loader {
    
    border: 4px solid rgba(0, 0, 0, .1) !important;
    border-left-color: transparent !important;
    border-radius: 50% !important;
  }
  
  .loader {
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    width: 36px;
    height: 36px;
  }
  
  .loader {
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    width: 36px;
    height: 36px;
    animation: spin89345 1s linear infinite;
  }
  
  @keyframes spin89345 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }